.name-listing {
  transition: background-color 0.3s ease;
  padding-left: 10px;
  cursor: pointer;
}

.name-listing:hover {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #f0f0f0; /* Light grey background on hover */
}
