.popup-modal {
    position: relative;
}

.popup-modal .popup-modal-backdrop {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    backdrop-filter: blur(10px);
}

.popup-modal-backdrop .modal-content {
    width: 100%;
    max-width: 500px;
    z-index: 10000;
    position: relative;
}

.modal-content .close-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}